.movie-card
{
    margin: 0;
    padding: 10px;
    height: 350px;
    width: 350px;
    border: 2px solid hsl(200, 50%, 50%);
   
}



.movie-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px; 
    justify-content: center; 
    padding: 20px;
}